<div class="row">
    <div class="col text-center mt-3">
        <img width="200" class="img-thumbnail rounded-circle" src="img/profil.jpg" alt="">
        <h1 class="display-4">Faldi Nur Ikhsan</h1>
        <p class="lead">Code Enthusiast | Colleger</p>
    </div>
</div>